@import "styles/utils";

.quantityInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F6F8FD;
  border-radius: 10px;
  min-width: 157px;

  @include media(">desktop") {
    max-width: 0;
  }

  .quantityInput {
    flex: 1;
    border: 0;
    outline: none;
    min-height: 56px;
    background: transparent;

    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #1D2026;
    min-width: 0;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    min-width: 0;
    cursor: pointer;

    @include media(">desktop") {
      svg path {
        fill: #FF7E1B;
        transition: fill 0.3s;
      }

      &:hover {
        svg path {
          fill: #FFAB6A;
        }
      }
    }
  }
}
